
h2 If you're just getting started

ol
	li Create a network.
	li Add hosts and host groups to your network (use root password for RSA keys).
	li Add the probe models you want to use.
	li Run probe in network host.
	li Use the dashboard to handle probes and control them
